@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
}

/* @plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(15% 0.015 250);
  --color-base-200: oklch(22% 0.015 250);
  --color-base-300: oklch(30% 0.015 250);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
} */

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(10% 0.034 265.754);
  --color-base-200: oklch(20% 0.034 265.754);
  --color-base-300: oklch(30% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 254.604);
  --color-base-200: oklch(93% 0.032 255.585);
  --color-base-300: oklch(88% 0.059 254.128);
  --color-base-content: oklch(20% 0.091 267.935);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(14% 0.004 49.25);
  --color-error: oklch(70% 0.237 25.331);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

#root {
  font-family: "Roboto", sans-serif;
}

.bg-discord {
  background-color: #5865f2;
}
.bg-twitch {
  background-color: #9146ff;
}
.twitch-viewer-count {
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0px 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
}

.twitch-live-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  border-radius: 4px;
}

.twitch-stream-info {
  display: flex;
  margin-left: 0.5rem;
  text-align: left;
}

.twitch-stream-username {
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.twitch-stream-title {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.twitch-stream-title span {
  display: inline-block;
  transition: transform 1s ease;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#marquee:hover span {
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-silver-metallic {
  color: #000000;
  background: linear-gradient(
    60deg,
    #e7e7e7 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #e7e7e7 95%
  );
}

.bg-gold-metallic {
  color: #000000;
  background: linear-gradient(
    60deg,
    #edaf10 5%,
    #f0e68c 10%,
    #daa520 30%,
    #ffd700 50%,
    #daa520 70%,
    #f0e68c 80%,
    #edaf10 95%
  );
}

.bg-bronze-metallic {
  color: #000000;
  background: linear-gradient(
    60deg,
    #e79038 5%,
    #e6b899 10%,
    #b87333 30%,
    #c88f6a 50%,
    #b87333 70%,
    #e6b899 80%,
    #e79038 95%
  );
}
