#root {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ant-image-preview-operations-operation {
  display: none;
}

.twitch-viewer-count {
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0px 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
}

.twitch-live-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  border-radius: 4px;
}

.twitch-stream-info {
  display: flex;
  margin-left: 0.5rem;
  text-align: left;
}

.twitch-stream-username {
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.twitch-stream-title {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.twitch-stream-title span {
  display: inline-block;
  transition: transform 1s ease;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#marquee:hover span {
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.table-row-light {
  background-color: #494949;
}

.clickable {
  cursor: pointer;
}

.expanded-row {
  background-color: #494949;
}

.secondary-button {
  height: 32px;

  padding: 3px 15px;
  font-size: 16px;
  color: white;
  background-color: rgb(57, 57, 57);
  box-shadow: none;
  border-color: rgb(97, 97, 97);
  border-width: 0.666667px;
  border-style: solid;
  box-shadow: rgba(255, 255, 255, 0.04) 0px 2px 0px 0px;

  cursor: pointer;
  border-radius: 5px;
  touch-action: manipulation;
}

.primary-button {
  height: 32px;

  padding: 3px 15px;
  font-size: 16px;
  color: white;
  background-color: #139292;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.666667px;
  border-style: solid;

  box-shadow: rgba(0, 18, 20, 0.7) 0px 2px 0px 0px;

  cursor: pointer;
  border-radius: 5px;
  touch-action: manipulation;
}

.secondary-button:hover {
  color: #2ea5a1;
  border-color: #2ea5a1;
}

.primary-button:hover {
  background-color: #2ea5a1;
}

.primary-button:active {
  background-color: #137474;
}
